.head{
   display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2%;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.links .link{ 
    color: rgb(255, 255, 255);
    font-size: 22px;
    padding: 0% 15%;
}
.profile-button{
    cursor: pointer;
    font-size: medium;
    color: rgb(255, 255, 255);
    border: 1px solid white;
    border-radius:20px;
    margin: 0% 1%;
    padding: 0px 20px;
}
.card-item{
    width: 350px;
    background-color: #fff;
    margin: 0% 2% 5% 2%;
    border-bottom: 0.5px solid black;
}
.card-item p {
    font-size: 24px;
    margin-left: 4%;
    font-weight: 200;
}

.card-buttons{
display: flex;
justify-content: space-evenly;
}
.card-buttons button{
    border: 0.5px solid black;
    background-color: white;
    border-radius: 30px;
    margin-bottom: 5%;
    padding: 2% 10%;
}