.header{
    margin-top: 2%;
}
.header .link{ 
    color: rgb(255, 255, 255);
    font-size: 22px;
}
.profile-button{
    cursor: pointer;
    padding-right:1% ;
    font-size: medium;
    color: rgb(255, 255, 255);
    border: 1px solid white;
    border-radius:20px;
    padding: 10px 20px;
    margin-right: 1%;
}

.card img{
    padding: 5%;
}
.card-buttons{
display: flex;
justify-content: space-evenly;
}
.card-buttons button{
    border: none;
    border-radius: 30px;
    margin: 4%;
    padding: 4% 10%;
}